h1
{
	font-family: Comic Sans MS , Arial, Verdana, sans-serif;
	color: red ;
	text-align: center;
	text-shadow: 3px 2px red;
}

h2
{
	font-family:Trebuchet MS,Comic Sans MS , Arial, Verdana, sans-serif;
}

p
{
    font-family: Comic Sans MS , Arial, Verdana, sans-serif;
}

li
{
    font-family: Comic Sans MS , Arial, Verdana, sans-serif;
}

.lien
{
    font-family: Comic Sans MS , Arial, Verdana, sans-serif;
}

body
{

	background-color: #3498db;
}

#carte
{
	width:800px;
	margin:0 auto;
	background-color: #FFFFF0;
	text-align: center;
	align-content: center;
}

.p1 {
  background: #FFB6C1;
  width: 180px;
  padding: 8px 0;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
  font-family: Comic Sans MS , Arial, Verdana, sans-serif;
  font-size:200%;
}